@font-face {
  font-family: 'Manrope';
  src: url(./assets/fonts/Manrope-Regular.ttf);
}

@function vw($value, $size: 1920) {
  @return $value / $size * 100vw;
}

// переменные
@mixin header-font {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  font-size: vw(11);
  line-height: vw(20);
  color: #2A2A2A;
  letter-spacing: 0.02em;
}

@mixin menu-font {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: vw(12);
  line-height: vw(16);
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #2A2A2A;
}

@mixin bullets-items () {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 300;
  font-size: vw(17);
  line-height: vw(27);
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-areas: "A H"
    "A M";
  grid-template-columns: vw(140) 1fr;
}

aside {
  grid-area: A;

  .vertical {
    transform: rotate(-90deg);
    font-family: 'Porsche Next Arabic TT';
    font-style: normal;
    font-weight: 700;
    font-size: vw(16);
    line-height: vw(25);
    margin-top: vw(169 );
    align-items: center;
    letter-spacing: 0.1em;
    color: #EFEFEF;

  }
  .line-in-aside{
    width: 50%;
    // background-color: #FD2016;
    height: vw(488 );
  margin-top: vw(80 );
  border-right: #EFEFEF vw(1 ) solid;
  }
  .aside-img{
    width: vw(18 );
   margin: vw(40) vw(57 );
  }
}

main {
  grid-area: M;
  background-image: url('./assets/svg/bg.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

header {
  grid-area: H;
  display: grid;
  gap: 22px;

  .header-wrapper {
    height: vw(125);
    margin-top: vw(22);
    justify-content: space-between;
  }

  .logo {
    width: vw(370);
    display: flex;
    justify-content: space-between;
    margin-right: vw(65);
    @include header-font();

    img {
      width: vw(213);
    }
  }

  .header-nav {
    width: vw(1642);
    display: flex;
    @include header-font();
    align-items: center;

    .header-nav {
      display: flex;

      .header-nav-items {
        margin-right: vw(57);
        display: flex;
        vertical-align: bottom;

        .header-nav-items-img {
          width: vw(35);
        }

        #point-img {
          width: vw(12);
        }

        .messengers {
          display: flex;

          .messager-img {
            width: vw(35);
          }
        }

      }
    }
  }

  .menu {
    display: flex;
    justify-content: space-between;
    width: vw(1642);

    .menu-item {
      @include menu-font();
    }
  }
}

main {

  .information {
    margin: vw(125) vw(115);
    display: grid;
    width: vw(1011);
    height: vw(506);
    justify-content: space-between;

    .main-information {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: vw(65);
      line-height: vw(95);


      letter-spacing: 0.02em;

      color: #FFFFFF;
    }

    .secondary-information {
      font-family: 'Manrope';
      font-style: normal;
      font-weight: 400;
      font-size: vw(27);
      line-height: vw(45);
      letter-spacing: 0.02em;

      color: #FFFFFF;
    }

    .buttons {
      display: flex;
      width: vw(822);
      justify-content: space-between;

      .button-calc {
        width: vw(400);
        border-radius: vw(500);
        background-color: #FD2016;
        display: flex;
        height: vw(100);
        justify-content: center;


        div {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 600;
          font-size: vw(16);
          line-height: vw(24);
          /* or 150% */

          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.04em;

          color: #FFFFFF;
        }
      }

      .button-whatsupp {
        width: vw(400);
        border-radius: vw(500);
        border: vw(1) solid #FFFFFF;
        height: vw(100);
        display: flex;
        justify-content: center;


        div {
          font-family: 'Manrope';
          font-style: normal;
          font-weight: 600;
          font-size: vw(16);
          line-height: vw(24);
          /* or 150% */

          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.04em;

          color: #FFFFFF;
        }
      }

      .button-calc:hover {
        .arrow-1 img {
          transform: rotate(45deg);
        }
      }

      .button-img {
        width: vw(30);
        margin: vw(14);
      }

    }
  }

  .bullets {
    width: vw(1524);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);


    .bullets-item {
      margin-left: vw(95);

      @include bullets-items();
    }

    .bullets-item:not(:last-child) {
      border-right: #FFFFFF 1px solid;
    }
  }



}

@media (min-width: 993px) {}

@media (max-width: 992px) {}